<!DOCTYPE html>
<html>

<head>
    <style>
        @page {
            margin: 15px;
        }

        body {
            font-size: 10px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #a0c8f0;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h2>BookHouse | Monthly User Report</h2>
    <p>Hello, {{ name }}!</p>

    <h3>Books</h3>
    <table>
        <thead>
            <tr>
                <th>Book</th>
                <th>Section</th>
                <th>Author</th>
                <th>Date issued</th>
                <th>Date returned</th>
            </tr>
        </thead>
        <tbody>
            {% for details in book_info %}

            <tr>
                <td>{{ details[0] }}</td> <!-- Book Name -->
                <td>{{ details[1] }}</td> <!-- Section Name -->
                <td>{{ details[2] }}</td> <!-- Author -->
                <td>{{ details[3] }}</td> <!-- Date Issued -->
                <td>{{ details[4] }}</td> <!-- Date Returned -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>